
.circle {
    color: yellow;
    align-items: center;
    align-content: center;
    position:absolute;
    font-size: 22px;
    background-color: gray;
    
} 
.my-arrow{
    position:absolute;
    top: 0px;
    left: 0px;
}

.my-digital-box{
    position: absolute;
    top: 350px;
    left: 750px;
    height: 150px;
    width: 500px;
    color:blueviolet;
    font-size: 50px;
}


.my-alarm-box{
    position: absolute;
    top: 450px;
    left: 750px;
    height: 100px;
    width: 500px;
    border: auto;
    color:brown;
    font-size: 22px;
}

.my-alarm-input{
    border: auto;
    color:brown;
    font-size: 22px;
    width: 30px;
}


.my-alarm-button{
    border: auto;
    color:brown;
    font-size: 22px;
    width: 65px;
}

.my-alarm-check{
    color:brown;
    font-size: 22px;
    width:20px;
    height: 20px;
}

.my-chiken-group{
    position: absolute;
    top: 10px;
    left: 750px;   
}